extends layout

block content
  h1 Національний технічний університет України "Київський політехнічний інститут ім. Ігоря Cікорського"

  img(src="/images/kpi.jpg", alt="University")

  h1 Інформація про студентів

  ul  
    li: a(href="/students/student1") Студент №1
    li: a(href="/students/student2") Студент №2
    li: a(href="/students/student3") Студент №3
    li: a(href="/students/student4") Студент №4

  p 
    a(href="http://ficeadvisor.com" target= "_blank") Сайт факультету






