extends layout
    
block content
    h1 Інформація про студента
    p
        strong Ім'я: 
        = student.first_name
    p
        strong Прізвище: 
        = student.last_name 
    p
        a(href="/") На головну

     


